<h1 class="title"><%= t '.Edit' %></h1>

<%= render 'form', service_protocol: @service_protocol %>

<div style="padding-top: 1em;">
  <%= link_to t('Show'), @service_protocol %> |
  <%= link_to t('Back'), service_protocols_path %>
</div>
