<div>
  <span class="has-text-weight-bold">#</span>
  <span class="has-text-weight-bold"><%= customer.customer_number %></span>

  <%= render partial: "addresses/attributes", locals: {address: customer.address } %>

  <div class="">
    <span><%= customer.service_objects.size %></span>
    <span><%= t 'service_object' %></span>
  </div>
</div>
