<div>
  <span class="has-text-weight-bold">#</span>
  <span class="has-text-weight-bold"><%= customer.customer_number %></span>

  <%= render partial: "addresses/attributes", locals: {address: customer.address } %>
</div>
