default: &default
  adapter: postgresql
  encoding: UTF-8
  pool: 5
  username: postgres
  password: example
  host: localhost
  socket:
  port: 5432
  timeout: 5000

test:
  <<: *default
  database: kls-kis_test
  port: 54321

development:
  <<: *default
  database: kls-kis_development
  port: 54321

staging:
  database: kis_staging
  pool: 100
  username: Rails.application.credentials[:staging][:postgres][:username]
  password: Rails.application.credentials[:staging][:postgres][:password]
  timeout: 5000

# Achtung username, password und db name 'staging'
# da der stage Rechner zum productionn System gecloned wurde!
production:
  <<: *default
  database: kis_staging
  username: Rails.application.credentials[:production][:postgres][:username]
  password: Rails.application.credentials[:production][:postgres][:password]
  pool: 100

# legacy_production:
#   adapter: sqlserver
#   host: Rails.application.credentials[:legacy_database][:host]
#   port: Rails.application.credentials[:legacy_database][:port]
#   username: Rails.application.credentials[:legacy_database][:username]
#   password: Rails.application.credentials[:legacy_database][:password]
