<!--
Used in:
* _address.html.erb
-->
<div class="columns">
  <div class="column">
    <div class=""><%= address.try(:street) %></div>
    <div class=""><%= address.try(:zip_city) %></div>
  </div>
</div>
