<h1 class="title"><%= t('.Edit') %></h1>

<%= render 'form', gas_type: @gas_type %>

<div style="padding-top: 1em">
<%= link_to t('Show'), @gas_type %> |
<%= link_to t('Back'), gas_types_path %>
</div>
