<tr class="nested-fields">
  <td><%= f.input :key, label: false %></td>
  <td><%= f.input :value, label: false %></td>
  <td><%= f.input :invert, label: false %></td>
  <td>
    <%= link_to_remove_association t('Destroy'), f, class: 'button is-danger' %>
  </td>
</tr>
