<tr class="nested-fields">
  <td><%= f.text_area :entry, :rows => 3, style: 'width:100%;'  %></td>
  <td>
    <%= link_to_remove_association t('Remove Entry'), f, class: 'button is-danger' %>
  </td>
</tr>
