<tr class="nested-fields">
  <td><%= f.input :count, label: false %></td>
  <td><%= f.input :device_type, label: false %></td>
  <td>
    <%= link_to_remove_association t('Remove'), f, class: 'button is-danger' %>
  </td>
</tr>
