<h1 class="title"><%= t '.New' %></h1>

<%= render 'form', central_device: @central_device %>

<div style="padding-top: 1em;">
<%= link_to t('Back'), central_devices_path, class: "button is-warning" %>
</div>
